<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
   
</head>

<body>
    <div class="center">
        <header>
            <img src="{% static 'images/logo.png' %}" alt="GRR Mall Logo" class="logo">
            <h1>Admin Dashboard</h1>
        </header>
        <main id="admin-content">
            <h2>Manage GRR Mall</h2><br>
            <div class="wrapper">
                <h2>Login</h2>
                <p id="error-message"></p>
                <form id="form" method="POST">
                    {% csrf_token %}
                    <div>
                        <label>
                            <span>@</span>
                        </label>
                        <input type="text" name="username"  placeholder="Username or Email">
                    </div>
                    <div>
                        <label>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                <path
                                    d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z" />
                            </svg>
                        </label>
                        <input type="password" name="password" id="password-input" placeholder="Password">
                    </div>

                    <div>
                        <label>
                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                                <path
                                    d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z" />
                                </svg>
                            </label>
                                <input type="password" name="secretkey" id="key" placeholder="Secret Key">
                    </div>

                    <button type="submit">Login</button>
                    <p>New here? <a href="/adminsignup">Create an Account</a></p>
                </form>
            </div>
            <div>
                {% if messages %}
                {% for message in messages %}
                <p style="color: red">&nbsp;&nbsp;{{message }}</p>
                {% endfor %}
                {% endif %}
            </div>
        </main>

        <footer>
            <p>&copy; 2025 GRR Mall. All rights reserved.</p>
        </footer>
    </div>
    

<style>
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  min-height: calc(90vh - 122px - 70.67px);
}
</style>
</body>

</html>